<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        form {
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div class="container">
    <h2 class="mt-5 mb-4">New Book Form</h2>

    <form th:action="@{/books/create}" method="post" th:object="${rentalObject}">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter title">
            <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input type="text" class="form-control" id="author" th:field="*{author}" placeholder="Enter author">
            <small class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></small>
        </div>

        <button type="submit" class="btn btn-primary">Create Book</button>
    </form>

    <!-- Кнопка возврата на главную страницу -->
    <a href="/home" class="btn btn-secondary mt-3">Back to Home</a>
</div>

<!-- Bootstrap JS (optional, if you want to use Bootstrap JavaScript features) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
